CLIENT_ID="TARGET_ORG_CONSUMER_KEY"
USERNAME="TARGET_ORG_USERNAME"
INSTANCE_URL="https://login.salesforce.com"
CHECK_ONLY=1
CUSTOM_DEPLOY=0
TEST_LEVEL="RunSpecifiedTests" # Accepted Values: "NoTestRun", "RunSpecifiedTests", "RunLocalTests", "RunAllTestsInOrg"
TEST_CLASSES=""
RUN_TESTS=""
BRANCHNAME=""
SERVER_KEY_PATH="./assets/server.key"